<div id="background">
  <h1>Welcome to Hospital Appointment Booking</h1>

  <div id="hospitals">
    <div class="hospital" onclick="openForm('hospital1-form')">
      <img src="/assets/Image/Ruby.jpg" alt="Hospital 1">
      <h3>Hospital 1</h3>
      <p>Normal details about Hospital 1</p>
      <a routerLink="/Appointment" class="appointment-link">Book an Appointment</a>
    </div>

    <!-- <a [routerLink]="['/Login']">LogIn Here</a> -->


    <div class="hospital" onclick="openForm('hospital2-form')">
      <img src="/assets/Image/Sancheti.jpg" alt="Hospital 2">
      <h3>Hospital 2</h3>
      <p>Normal details about Hospital 2</p>
      <a routerLink="/Appointment"  class="appointment-link">Book an Appointment</a>
    </div>

    <div class="hospital" onclick="openForm('hospital2-form')">
      <img src="/assets/Image/Sancheti.jpg" alt="Hospital 3">
      <h3>Hospital 2</h3>
      <p>Normal details about Hospital 2</p>
      <a routerLink="/Appointment" class="appointment-link">Book an Appointment</a>
    </div>

    <div class="hospital" onclick="openForm('hospital2-form')">
      <img src="/assets/Image/Sancheti.jpg" alt="Hospital 4">
      <h3>Hospital 2</h3>
      <p>Normal details about Hospital 2</p>
      <a routerLink="/Appointment"class="appointment-link">Book an Appointment</a>
    </div>

    <div class="hospital" onclick="openForm('hospital2-form')">
      <img src="/assets/Image/Sancheti.jpg" alt="Hospital 5">
      <h3>Hospital 2</h3>
      <p>Normal details about Hospital 2</p>
      <a routerLink="/Appointment" class="appointment-link">Book an Appointment</a>
    </div>

    <div class="hospital" onclick="openForm('hospital2-form')">
      <img src="/assets/Image/Sancheti.jpg" alt="Hospital 6">
      <h3>Hospital 2</h3>
      <p>Normal details about Hospital 2</p>
      <a routerLink="/Appointment"  class="appointment-link">Book an Appointment</a>
    </div>


    <div class="hospital" onclick="openForm('hospital2-form')">
      <img src="/assets/Image/Sancheti.jpg" alt="Hospital 7">
      <h3>Hospital 2</h3>
      <p>Normal details about Hospital 2</p>
      <a routerLink="/Appointment" class="appointment-link">Book an Appointment</a>
    </div>

    <div class="hospital" onclick="openForm('hospital2-form')">
      <img src="/assets/Image/Sancheti.jpg" alt="Hospital 8">
      <h3>Hospital 2</h3>
      <p>Normal details about Hospital 2</p>
      <a routerLink="/Appointment" class="appointment-link">Book an Appointment</a>
    </div>

    <div class="hospital" onclick="openForm('hospital2-form')">
      <img src="/assets/Image/Sancheti.jpg" alt="Hospital 9">
      <h3>Hospital 2</h3>
      <p>Normal details about Hospital 2</p>
      <a routerLink="/Appointment" class="appointment-link">Book an Appointment</a>
    </div>

    <div class="hospital" onclick="openForm('hospital2-form')">
      <img src="/assets/Image/Sancheti.jpg" alt="Hospital 10">
      <h3>Hospital 2</h3>
      <p>Normal details about Hospital 2</p>
      <a routerLink="/Appointment" class="appointment-link">Book an Appointment</a>
    </div>
  </div>
</div>

<!-- Google Forms Modal -->
<div id="formModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeForm()">&times;</span>
    <iframe id="googleForm" width="640" height="480" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  </div>
</div>

<script src="script.js"></script>
