<div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row justify-content-center py-5">
            <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                <h1
                    class="display-3 text-white animated slideInDown"
                >
                    About Us
                </h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Pages</a>
                        </li>
                        <li
                            class="breadcrumb-item text-white active"
                            aria-current="page"
                        >
                            About
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>




<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div
                class="col-lg-6 wow fadeInUp"
                data-wow-delay="0.1s"
                style="min-height: 400px"
            >
                <div class="position-relative h-100">
                    <img
                        class="img-fluid position-absolute w-100 h-100"
                        src="assets/Image/about.jpg"
                        alt=""
                        style="object-fit: cover"
                    />
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6
                    class="section-title bg-white text-start text-primary pe-3"
                >
                    About Us
                </h6>
                <h1 class="mb-4">
                    Welcome to
                    <span class="text-primary">our smart cities</span>
                </h1>
                <p class="mb-4">
                    The purpose of this project is to develop a smart
                    city environment that provides person to access any
                    information about the city via the internet. “Smart
                    city” as the name suggests this Web-App is designed
                    to make our city smarter. There is a need of Web-App
                    for complete information about the city although
                    there is information available on internet but it is
                    not available on one site a person has to wonder
                    from one app to another to get required piece of
                    information.
                </p>
                <p class="mb-4">
                    Keeping this fact in mind we have tried to put all
                    information under one App which will make our city
                    smarter
                </p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0">
                            <i
                                class="fa fa-arrow-right text-primary me-2"
                            ></i
                            >Adequate Water Supply
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0">
                            <i
                                class="fa fa-arrow-right text-primary me-2"
                            ></i
                            >Assured Electricity Supply
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0">
                            <i
                                class="fa fa-arrow-right text-primary me-2"
                            ></i
                            >Well-Developed Health Care
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0">
                            <i
                                class="fa fa-arrow-right text-primary me-2"
                            ></i
                            >Energy And Water Resources
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0">
                            <i
                                class="fa fa-arrow-right text-primary me-2"
                            ></i
                            >Best Solid Waste Management
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0">
                            <i
                                class="fa fa-arrow-right text-primary me-2"
                            ></i
                            >24/7 Service
                        </p>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" href=""
                    >Read More</a
                >
            </div>
        </div>
    </div>
</div>
<!-- About End -->


