<div>
    <header id="header" class="fixed-top" style="text-decoration: none; height: 10%;  padding: 25px 25px 25px 25px;">
      <div class="container d-flex align-items-center">
        <h1 class="logo me-auto"><a routerLink="/Home">Smart City</a></h1>
    
        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
           
            <li><a routerLink="/Home" class="nav-item nav-link active">Home</a></li>

            <li><a routerLink="/About" class="nav-item nav-link " >About</a></li>

            <li><a routerLink="/Services"  class="nav-item nav-link ">Services</a></li>

            <li><a routerLink="/Review" class="nav-item nav-link ">Review</a></li>

            <li><a routerLink="/FAQ" class="nav-item nav-link ">FAQ</a></li> 
  
            <li><a routerLink="/Contact" class="nav-item nav-link ">Contact</a></li>

            <li><a routerLink="/Registration" class="nav-item nav-link ">Registration</a></li>
  
            <li><a routerLink="/Login" class="nav-item nav-link ">Login</a></li>
            
           </ul>
               
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>

        <!-- .navbar -->

      </div>

    </header><!-- End Header -->
  
  </div>