<div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row justify-content-center py-5">
            <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                <h1
                    class="display-3 text-white mb-3 animated slideInDown"
                >
                    Let's Explore
                </h1>
                <p
                    class="fs-4 text-white mb-4 animated slideInDown"
                >
                    OUR AMAZING CITIES
                </p>
                <div
                    class="position-relative w-75 mx-auto animated slideInDown"
                >
                    <input
                        class="form-control border-0 rounded-pill w-100 py-3 ps-4 pe-5"
                        type="text"
                        placeholder="Eg: Pune"
                    />
                    <button
                        type="button"
                        class="btn btn-primary rounded-pill py-2 px-4 position-absolute top-0 end-0 me-2"
                        style="margin-top: 7px"
                    >
                        Search
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div
                class="col-lg-6 wow fadeInUp"
                data-wow-delay="0.1s"
                style="min-height: 400px"
            >
                <div class="position-relative h-100">
                    <img
                        class="img-fluid position-absolute w-100 h-100"
                        src="assets/Image/about.jpg"
                        alt=""
                        style="object-fit: cover"
                    />
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6
                    class="section-title bg-white text-start text-primary pe-3"
                >
                    About Us
                </h6>
                <h1 class="mb-4">
                    Welcome to
                    <span class="text-primary">our smart cities</span>
                </h1>
                <p class="mb-4">
                    The purpose of this project is to develop a smart
                    city environment that provides person to access any
                    information about the city via the internet. “Smart
                    city” as the name suggests this Web-App is designed
                    to make our city smarter. There is a need of Web-App
                    for complete information about the city although
                    there is information available on internet but it is
                    not available on one site a person has to wonder
                    from one app to another to get required piece of
                    information.
                </p>
                <p class="mb-4">
                    Keeping this fact in mind we have tried to put all
                    information under one App which will make our city
                    smarter
                </p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0">
                            <i
                                class="fa fa-arrow-right text-primary me-2"
                            ></i
                            >Adequate Water Supply
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0">
                            <i
                                class="fa fa-arrow-right text-primary me-2"
                            ></i
                            >Assured Electricity Supply
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0">
                            <i
                                class="fa fa-arrow-right text-primary me-2"
                            ></i
                            >Well-Developed Health Care
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0">
                            <i
                                class="fa fa-arrow-right text-primary me-2"
                            ></i
                            >Energy And Water Resources
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0">
                            <i
                                class="fa fa-arrow-right text-primary me-2"
                            ></i
                            >Best Solid Waste Management
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0">
                            <i
                                class="fa fa-arrow-right text-primary me-2"
                            ></i
                            >24/7 Service
                        </p>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" href=""
                    >Read More</a
                >
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- services start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6
                class="section-title bg-white text-center text-primary px-3"
            >
                Services
            </h6>
            <h1 class="mb-5">Our Services</h1>
        </div>
        <div class="row g-4">
            <div
                class="col-lg-3 col-sm-6 wow fadeInUp"
                data-wow-delay="0.1s"
            >
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i
                            class="fa fa-3x fa-cog text-primary mb-4"
                        ></i>
                        <h5>Electricity</h5>
                        <p>
                            Maintain the all the details of about
                            Electricity like anyone wants to new
                            connection or want to complaints.
                        </p>
                    </div>
                </div>
            </div>
            <div
                class="col-lg-3 col-sm-6 wow fadeInUp"
                data-wow-delay="0.3s"
            >
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i
                            class="fa fa-3x fa-cog text-primary mb-4"
                        ></i>
                        <h5>Health</h5>
                        <p>
                           Anyone wants to health related service like Ambulance, medical store, Hospital.
                        </p>
                    </div>
                </div>
            </div>
            <div
                class="col-lg-3 col-sm-6 wow fadeInUp"
                data-wow-delay="0.5s"
            >
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i
                            class="fa fa-3x fa-cog text-primary mb-4"
                        ></i>
                        <h5>Education</h5>
                        <p>
                            Help the searching the best education, colleges and there facilities.
                        </p>
                    </div>
                </div>
            </div>
            <div
                class="col-lg-3 col-sm-6 wow fadeInUp"
                data-wow-delay="0.7s"
            >
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i
                            class="fa fa-3x fa-cog text-primary mb-4"
                        ></i>
                        <h5>Security</h5>
                        <p>
                           Anyone wants to help about Police Station, Online FIR etc.
                        </p>
                    </div>
                </div>
            </div>
            <div
                class="col-lg-3 col-sm-6 wow fadeInUp"
                data-wow-delay="0.1s"
            >
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i
                            class="fa fa-3x fa-cog text-primary mb-4"
                        ></i>
                        <h5>Waste Management</h5>
                        <p>
                            Refuse, Reduce, Reuse, Repurpose, Recycle.
                        </p>
                    </div>
                </div>
            </div>
            <div
                class="col-lg-3 col-sm-6 wow fadeInUp"
                data-wow-delay="0.3s"
            >
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i
                            class="fa fa-3x fa-cog text-primary mb-4"
                        ></i>
                        <h5>Government Scheme</h5>
                        <p>
                            Details about government scheme.
                        </p>
                    </div>
                </div>
            </div>
            
            
                
            </div>
        </div>
    </div>
<!-- Service End -->



