<div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row justify-content-center py-5">
            <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                <h1
                    class="display-3 text-white animated slideInDown"
                >
                    Login
                </h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Pages</a>
                        </li>
                        <li
                            class="breadcrumb-item text-white active"
                            aria-current="page"
                        >
                            Login
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>


<!-- login -->


<div class="login-container">
   <div class="login-box-container">
    <div class="login-box">
        <h2>Login</h2>
        <form>
          <div class="input-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required placeholder="Enter your Username">
          </div>
    
          <div class="input-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required placeholder="Enter your password" >
          </div>


          <div class="form-group">
            <div class="d-flex justify-content-start align-items-center">
                <input type="checkbox" id="rememberMe" name="rememberMe" class="w-50">
            <label for="rememberMe" class="ml-2">Remember Me</label>
           </div>
          </div>
  
  
    
          <button type="submit">Login</button>
            <div style="color: white;  font-size: 20px; margin-left: 25%; margin-top: 10px;">
              New User? <a [routerLink]="['/Register']">SignUp Here</a>
              
          </div>
        </form>
      </div>
   </div>
  </div>
  


<!-- login -->

