<div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row justify-content-center py-5">
            <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                <h1
                    class="display-3 text-white animated slideInDown"
                >
                    Register
                </h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Pages</a>
                        </li>
                        <li
                            class="breadcrumb-item text-white active"
                            aria-current="page"
                        >
                            Register
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>


<!-- register -->


<div class="register-container">
    <div class="register-box">
      <h2>Register</h2>

      <form *ngIf="!isOtpVerified" (submit)="sendOTP()">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required placeholder="Enter your Email">
        </div>
        <button type="submit" class="btn btn-lg btn-danger">Send OTP</button>
      </form>


      <form *ngIf="isOtpSent && !isOtpVerified" (submit)="verifyOTP()">
        <div class="form-group">
          <label for="otp">OTP:</label>
          <input type="text" id="otp" name="otp" required [(ngModel)]="enteredOTP" placeholder="Enter OTP">
        </div>
        <button type="submit" class="btn btn-lg btn-danger">Verify OTP</button>
      </form>

        <form *ngIf="isOtpVerified" (submit)="register()">

          <div class="form-group">
            <label for="firstname">First Name:</label>
            <input type="text" id="firstname" name="firstname"  required [(ngModel)]="firstname" placeholder="Enter your First Name">
          </div>

        <div class="form-group">
          <label for="Lastname"> Last Name:</label>
          <input type="text" id="lastname" name="lastname" required [(ngModel)]="lastname" placeholder="Enter your  Last Name"> 
        </div>


        
        <div class="form-group">
          <label for="userId">Contact Number</label>
          <input type="number" id="contactnumber" name="contactnumber"  required [(ngModel)]="contactnumber" placeholder="Enter your Phone Number">
        </div>
  
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="email" id="username" name="username" required [(ngModel)]="username" placeholder="Enter your Email">
        </div>
  
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password"  required [(ngModel)]="password" placeholder="Enter your Password">
        </div>
  
        <button type="submit" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" 
        data-content="Benchod agodr fill kar">Register</button>

        <div style="color: white;  font-size: 20px;  ">
			Existing User? <a [routerLink]="['/Login']">LogIn Here</a>
		    </div>
      </form>
    </div>
  </div>

  
