.hero-header {
    position: relative;
    background: linear-gradient(rgba(20, 20, 31, 0.7), rgba(20, 20, 31, 0.7)),
                url('/assets/Image/bg-hero.jpg') center center / cover no-repeat;
    color: white; /* Adjust text color based on your design */
    text-align: center;
    padding: 5rem 0; /* Adjust padding based on your design */
    margin-top: 55px;
  }
  
  /* Styles for the text and breadcrumb */
  .hero-header h1 {
    font-size: 3rem; /* Adjust the font size based on your design */
    margin-bottom: 1rem;
  }
  
  .hero-header .breadcrumb-item {
    color: white; /* Adjust breadcrumb text color based on your design */
  }
  
  /* Animation styles */
  .animated {
    animation-duration: 1s; /* Adjust the animation duration based on your preference */
  }
  
  .slideInDown {
    animation-name: slideInDown;
  }
  
  @keyframes slideInDown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
  }

  
  /* register*/

/* Add some general styling to the form */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-box {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #8dd18d;
}

/* Style the form header */
h2 {
  text-align: center;
  color: #343a40;
}

/* Style the form groups */
.form-group {
  margin-bottom: 15px;
}

/* Style the input fields */
input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style the submit button */
button {
  width: 100%;
  padding: 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add some space between the forms */
form:not(:last-child) {
  margin-bottom: 20px;
}

/* Style the existing user link */
div > a {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

/* Style the form error popover */
.popover {
  background-color: #dc3545;
  color: #fff;
}

.popover-title {
  color: #fff;
  background-color: #dc3545;
  border-bottom: 1px solid #ccc;
}

.popover-content {
  color: #fff;
}
