.hero-header {
    position: relative;
    background: linear-gradient(rgba(20, 20, 31, 0.7), rgba(20, 20, 31, 0.7)),
                url('/assets/Image/bg-hero.jpg') center center / cover no-repeat;
    color: white; /* Adjust text color based on your design */
    text-align: center;
    padding: 5rem 0; /* Adjust padding based on your design */
    margin-top: 55px;
  }
  
  /* Styles for the text and breadcrumb */
  .hero-header h1 {
    font-size: 3rem; /* Adjust the font size based on your design */
    margin-bottom: 1rem;
  }
  
  .hero-header .breadcrumb-item {
    color: white; /* Adjust breadcrumb text color based on your design */
  }
  
  /* Animation styles */
  .animated {
    animation-duration: 1s; /* Adjust the animation duration based on your preference */
  }
  
  .slideInDown {
    animation-name: slideInDown;
  }
  
  @keyframes slideInDown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
  }

  
 /* Services */

.container-xxl {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section-title {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  border-radius: 8px;
  background-color: #8e5c5c;
  color: #e74c3c;
  display: inline-block;
}

.service-item {
  background-color: #47cb5d;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.service-item:hover {
  transform: scale(1.05);
}

.service-item .p-4 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14x;
  font-weight: 770;
  transition: 0.3s;
}

.service-item i {
  font-size: 3rem;
  color: #f50a0a;
}

.service-item h5 {
  font-size: 1.5rem;
  color: #f60d0d;
  margin-top: 1rem;
}

.service-item p {
  color: #555;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .service-item {
    margin-bottom: 2rem;
  }
}
