<!--Footer section-->
<footer id="footer">
    
    <div class="footer-top">
      <div class="container">
        <div class="row">
  
          <div class="col-lg-4 col-md-7 footer-contact">

            <p>
              <strong>Batch:</strong>J30<br>
              <strong>Phone:</strong> +91 9373971884<br>
              <strong>Email:</strong> gauravchothegmail.com<br>
            </p>
          </div>
  
        
        </div>
      </div>
    </div>
  
    <div class="container d-md-flex py-4">
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="fa fa-twitter" style="font-size:24px"></i></a>
        <a href="#" class="facebook"><i class="fa fa-facebook-square" style="font-size:24px"></i></a>
        <a href="#" class="instagram"><i class="fa fa-instagram" style="font-size:24px"></i></a>
        <a href="#" class="WhatsApp"><i class="fa fa-whatsapp" style="font-size:24px"></i></a>
        <a href="#" class="linkedin"><i class="fa fa-linkedin" style="font-size:24px"></i></a>
      </div>
    </div>
  </footer>
  
  <!-- End Footer -->
  