<div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row justify-content-center py-5">
            <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                <h1
                    class="display-3 text-white animated slideInDown"
                >
                    Services
                </h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Page</a>
                        </li>
                        <li
                            class="breadcrumb-item text-white active"
                            aria-current="page"
                        >
                            Services
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<!-- services start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6
                class="section-title bg-white text-center text-primary px-3"
            >
                Services
            </h6>
            <h1 class="mb-5">Our Services</h1>
        </div>
        <div class="row g-4">
            <div
                class="col-lg-3 col-sm-6 wow fadeInUp"
                data-wow-delay="0.1s"
            >
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i
                            class="fa fa-3x fa-cog text-primary mb-4"
                        ></i>
                         <h5><a (click)="goToOtherPage()" routerLink="electricityService" 
                             style="color: red;">Electricity </a></h5>
                        <p>
                            Maintain the all the details of about
                            Electricity like anyone wants to new
                            connection or want to complaints.
                        </p>
                    </div>
                </div>
            </div>
            <div
                class="col-lg-3 col-sm-6 wow fadeInUp"
                data-wow-delay="0.3s"
            >
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i
                            class="fa fa-3x fa-cog text-primary mb-4"
                        ></i>
                        <h5><a (click)="goToOtherPage1()" routerLink="HealthService" style="color: red;"> Health</a></h5>
                        <p>
                           Anyone wants to health related service like Ambulance, medical store, Hospital.
                        </p>
                    </div>
                </div>
            </div>
            <div
                class="col-lg-3 col-sm-6 wow fadeInUp"
                data-wow-delay="0.5s"
            >
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i
                            class="fa fa-3x fa-cog text-primary mb-4"
                        ></i>
                        <h5>Education</h5>
                        <p>
                            Help the searching the best education, colleges and there facilities.
                        </p>
                    </div>
                </div>
            </div>
            <div
                class="col-lg-3 col-sm-6 wow fadeInUp"
                data-wow-delay="0.7s"
            >
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i
                            class="fa fa-3x fa-cog text-primary mb-4"
                        ></i>
                        <h5>Security</h5>
                        <p>
                           Anyone wants to help about Police Station, Online FIR etc.
                        </p>
                    </div>
                </div>
            </div>
            <div
                class="col-lg-3 col-sm-6 wow fadeInUp"
                data-wow-delay="0.1s"
            >
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i
                            class="fa fa-3x fa-cog text-primary mb-4"
                        ></i>
                        <h5>Waste Management</h5>
                        <p>
                            Refuse, Reduce, Reuse, Repurpose, Recycle.
                        </p>
                    </div>
                </div>
            </div>
            <div
                class="col-lg-3 col-sm-6 wow fadeInUp"
                data-wow-delay="0.3s"
            >
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i
                            class="fa fa-3x fa-cog text-primary mb-4"
                        ></i>
                        <h5>Government Scheme</h5>
                        <p>
                            Details about government scheme.
                        </p>
                    </div>
                </div>
            </div>
            
            
                
            </div>
        </div>
    </div>
<!-- Service End -->